@{
    ViewBag.Title = "Salle Attente";
    Layout = "~/Views/Shared/_SoftCareLayoutPage.cshtml";
}


<div class="row" style="background-color:#ffffffdb; min-height: 46em;"> 
     
        <div class="col-lg-12" style="border:px solid red;">
             
             <div class="col-lg-2  col-lg-offset-10" style="padding:20px;">
                <a href="~/GestionPatient/AJOUTTRAITEMENT/1" >
                   <button class="btn btn-primary"> Séléctionner </button>
                </a>
            </div>

        <section class="col-lg-12 table-responsive"     style="max-height: 30em;overflow-y: auto;">
            
            <table class="table table-bordered table-striped table-condensed" style="margin-bottom:0px;">
                <thead>
                  <tr>   <th>Cocher</th> <th>Date diagnostic </th> <th>Diagnostic</th> <th>Spécialiste</th>  </tr>
               </thead>
               <tbody>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher2"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher3"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher4"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher5"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher6"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher7"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher8"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher9"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher10"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher11"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  <tr> <td> <input type="radio" name="diagnosticCocher" value="" id="diagnosticCocher12"> </td> <td> 12/12/2017 à 12h20 </td> <td> Rhume aigu, fievre, maux de tête </td> <td> Dr. NZOKEM </td> </tr>
                  
               </tbody>
            </table>
        </section>

              <div class="col-lg-2 col-lg-offset-10" style="padding:20px;">
                <a href="~/GestionPatient/AJOUTTRAITEMENT/1" >
                   <button class="btn btn-primary"> Séléctionner </button>
                </a>
            </div>
    </div>

      
    
</div>

