@model IEnumerable<SoftCare.ViewModels.CaisseVM2>

@{
    Layout = "~/Views/Shared/_SoftCareLayoutPage.cshtml";
    ViewBag.Title = "Liste des Caisses ";

    int counter = 0; 
}




<div class="row" style="margin:2em">

        <div class="col-lg-3 pull-right">
            <a href="~/GestionCaisse/AJOUTERCAISSE" class="btn btn-primary" title="Créer une nouvelle Caisse" style="width:100%">
                <span class="glyphicon glyphicon-plus"></span> Ajouter une Caisse
            </a>
        </div>
    

    <section class="col-lg-12 bloc-scrollable table-responsive table-scrollable">
        <table class="table table-bordered_ table-striped table-condensed">

            @if (Model == null)
            {
                <caption style="color:#000"><h5>Il n'y aucune Caisse enregistrée. </h5></caption>
            }
            else
            {
                <caption style="color:#000"><h5> Liste des Caisses</h5></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Nom Caisse</th>
                        <th style="text-align:center"> Caisse Ouverte ?  </th>
                        <th> Caissier </th>
                        <th> Date Ouverture  </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Caisse in Model)
                    {
                        counter++;
                    <tr>
                        <td> @counter </td>

                        <td>
                            @if (Caisse.IsOpen)
                            {
                                <a href="~/GestionCaisse/CONSULTEROPERATIONSCAISSE/@Caisse.Id">
                                    @SoftCare.Models.CRYPTAGE.StringHelpers.Decrypt(Caisse.NomCaisse)
                                </a>
                            }
                            else
                            {
                                <a href="~/GestionCaisse/HISTORIQUEOUVERTUREFERMETURECAISSES/@Caisse.Id">
                                    @SoftCare.Models.CRYPTAGE.StringHelpers.Decrypt(Caisse.NomCaisse)
                                </a>
                            }
                        </td>

                        <td style="text-align:center">
                            @if (Caisse.IsOpen)
                            {
                                <span class="glyphicon glyphicon-ok-sign btn btn-primary btn-xs"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove-sign btn btn-danger btn-xs"></span>
                            }
                        </td>
                        <td>
                            @if (Caisse.IsOpen)
                            {
                                <span class="">   @Caisse.NomCaissier </span>
                            }
                            else
                            {
                                <span style="font-style:italic; color: darkcyan; "> Cette Caisse est fermée en ce moment </span>
                            }
                        </td>
                        <td>
                            @if (Caisse.IsOpen)
                            {
                                <span class="">  @Caisse.DateOuverture </span>
                            }
                        </td>                      

                        <td>
                            @if (Caisse.IsOpen)
                            {
                                <a href="~/GestionCaisse/FERMERCAISSE/@Caisse.Id" title="Fermer cette Caisse ?">
                                    <span class="glyphicon glyphicon-ban-circle btn btn-danger btn-xs"></span>
                                </a>
                            }
                            else
                            {
                                <a href="~/GestionCaisse/OUVRIRCAISSE/@Caisse.Id" title="Ouvrir cette Caisse ?">
                                    <span class="glyphicon glyphicon-log-out btn btn-info btn-xs"></span>
                                </a>
                            }
                        </td>
                    </tr>
                    }

                </tbody>
            }

        </table>
    </section>
</div>

